<app-header
        [showCRUD]="showCRUD"
        [productToFavorites]="addProductToFavoritesFromWoman"
        [productToShoppingCart]="addProductToShoppingCartFromWoman"
        (selectCategory)="selectCategory($event)"
        (toggleCRUD)="toggleCRUD($event)"
></app-header>
<div class="content container">
    <div class="row head">
        <div class="col-lg-9">
            <span class="structure">Главная страница > Женщинам</span>
            <h3 class="headline">Женская обувь</h3>

        </div>

        <div class="col-lg-3">
            <form action="" class="d-flex search">
                <input [(ngModel)]="filterTitle" name="filterTitle" type="search" placeholder="Я хочу найти..." class="form-control me-2">
                <button (click)="initSearch()" class="btn btn-outline-danger">Поиск</button>
            </form>
        </div>
    </div>
    <div class="row main">
        <div class="col-lg-9 col-xs-6 col-md-9 col-sm-9 order-last card-place">
            <div class="container">
                <app-product-card [products]="products"
                                  [showCRUD]="showCRUD"
                                  (searchAction)="findProductsWithoutPaging($event)"
                                  (addProduct)="addProduct($event)"
                                  (deleteProduct)="deleteProduct($event)"
                                  (updateProduct)="updateProduct($event)"
                                  (addProductToFavorites)="addProductToFavorites($event)"
                                  (addProductToShoppingCart)="addProductToShoppingCart($event)"
                ></app-product-card>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6 col-md-3 col-sm-3 order-first filter-place">
            <button type="button" class="collapsible">Цена</button>
            <div class="content-filter">
                <div class="variables">
                    <label class="container">1 000 - 2 000 &#8381;
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">2 001 - 3 000 &#8381;
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">3 001 - 4 000 &#8381;
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">4 001 - 5 000 &#8381;
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">5 001 - 6 000 &#8381;
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">6 001 - 7 000 &#8381;
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">8 001 - 9 000 &#8381;
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">9 000 &#8381; и более
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <button type="button" class="collapsible">Торговая<br>марка</button>
            <div class="content-filter">
                <div class="variables">
                    <label class="container">One
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Two
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Three
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Four
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <button type="button" class="collapsible">Размер</button>
            <div class="content-filter">
                <div class="variables">
                    <label class="container">35
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">36
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">37
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">38
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">39
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">40
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">41
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">42
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">43
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">44
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">45
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <button type="button" class="collapsible">Цвет</button>
            <div class="content-filter">
                <div class="variables">
                    <label class="container" style="color: black;">Черный
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container" style="color: grey;">Серый
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container" style="color: brown;">Коричневый
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container" style="color: red;">Красный
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container" style="color: rgb(197, 192, 192);">Белый
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container" style="color: rgb(236, 203, 16);">Желтый
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container" style="color: blue;">Синий
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container gradient-all">Разноцветный
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <button type="button" class="collapsible">Материал</button>
            <div class="content-filter">
                <div class="variables">
                    <label class="container">Кожа
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Кож - зам
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Нубук
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Замша
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Текстиль
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <button type="button" class="button-filter">Применить</button>


        </div>
    </div>
</div>
<app-footer></app-footer>
