<nav class="sticky-top navbar navbar-expand-xl navbar-light bg-light ">
    <div class="container">
        <a href="/" class="logo-link">
            <img src="assets/img/logo.jpg" alt="logo: obuv.novinka" class="logo-image">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto mb-2 navigation align-items-center">
                <li class="navigation-item">
                    <a routerLink="/womanCatalog" class="navigation-link">Женщины</a>
                    <ul class="sub-category-list">
                        <li routerLink="/womanCatalog" *ngFor="let category of categories" (click)="showProductCardsByCategory(category)"><a class="sub-category-link">{{category.categoryName}}</a></li>
                    </ul>
                </li>
                <li class="navigation-item">
                    <a routerLink="/manCatalog" class="navigation-link">Мужчины</a>
                    <ul class="sub-category-list">
                        <li routerLink="/manCatalog" *ngFor="let category of categories"><a class="sub-category-link">{{category.categoryName}}</a></li>
                    </ul>
                </li>
                <li class="navigation-item">
                    <a routerLink="/kidCatalog" class="navigation-link">Дети</a>
                    <ul class="sub-category-list">
                        <li routerLink="/kidCatalog" *ngFor="let category of categories"><a class="sub-category-link">{{category.categoryName}}</a></li>
                    </ul>
                </li>
                <li class="navigation-item">
                    <a href="#" class="navigation-link">Аксессуары</a>
                    <ul class="sub-category-list">
                        <li *ngFor="let category of categories"><a class="sub-category-link">{{category.categoryName}}</a></li>
                    </ul>
                </li>




                <form action="" class="d-flex search">
                    <input type="search" placeholder="Я хочу найти..." class="form-control me-2">
                    <button class="btn btn-outline-danger">Поиск</button>
                </form>
            </ul>



            <button class="button hover-border-1 button-margin-5 nav-button" onclick="window.location.href = '#';">
                <i class="fa fa-shopping-cart fa-lg button-icon" aria-hidden="true"></i>
            </button>


            <button class="button hover-border-2 button-margin-5 nav-button" onclick="window.location.href = '#';">
                <i class="fa fa-heart-o fa-lg button-icon" aria-hidden="true"></i>
            </button>


            <button class="button hover-border-3 button-margin-5 nav-button" routerLink="/authentication">
                <i class="fa fa-user fa-lg" aria-hidden="true"></i>
            </button>

        </div>
    </div>
</nav>
