<nav class="sticky-top navbar navbar-expand-xl navbar-light bg-light ">
    <div class="container">
        <a href="/" class="logo-link">
            <img src="assets/img/logo.jpg" alt="logo: obuv.novinka" class="logo-image">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto mb-2 navigation align-items-center">
                <li class="navigation-item">
                    <a (click)="showCategory('женские')" (mouseenter)="initSearchCategoriesWoman()" routerLink="/womanCatalog" class="navigation-link">Женщины</a>
                    <ul class="sub-category-list">
                        <li routerLink="/womanCatalog" *ngFor="let category of categories"><a (click)="showCategory(category.categoryName + ' женские')" class="sub-category-link">{{category.categoryName}}</a></li>
                    </ul>
                </li>
                <li class="navigation-item">
                    <a (click)="showCategory('мужские')" (mouseenter)="initSearchCategoriesMan()" routerLink="/manCatalog" class="navigation-link">Мужчины</a>
                    <ul class="sub-category-list">
                        <li routerLink="/manCatalog" *ngFor="let category of categories"><a (click)="showCategory(category.categoryName + ' мужские')" class="sub-category-link">{{category.categoryName}}</a></li>
                    </ul>
                </li>
                <li class="navigation-item">
                    <a (click)="showCategory('детские')" (mouseenter)="initSearchCategoriesKids()" routerLink="/kidCatalog" class="navigation-link">Дети</a>
                    <ul class="sub-category-list">
                        <li routerLink="/kidCatalog" *ngFor="let category of categories"><a (click)="showCategory(category.categoryName + ' детские')" class="sub-category-link">{{category.categoryName}}</a></li>
                    </ul>
                </li>






                <div class="d-flex admin-mode-text">
                    <span class="link navigation-link" (click)="onToggleCRUD()" *ngIf="showCRUD">admin mode: off</span>
                    <span class="link navigation-link" (click)="onToggleCRUD()" *ngIf="!showCRUD">admin mode: on</span>
                </div>
            </ul>



            <button (click)="openShoppingCartDialog(productToShoppingCart)" class="button hover-border-1 button-margin-5 nav-button">
                <i class="fa fa-shopping-cart fa-lg button-icon" aria-hidden="true"></i>
            </button>


            <button (click)="openFavoritesDialog(productToFavorites)" class="button hover-border-2 button-margin-5 nav-button">
                <i class="fa fa-heart-o fa-lg button-icon" aria-hidden="true"></i>
            </button>


            <button class="button hover-border-3 button-margin-5 nav-button justify-content-end" routerLink="/authentication">
                <i class="fa fa-user fa-lg" aria-hidden="true"></i>
            </button>

        </div>
    </div>
</nav>
