<app-header></app-header>
<div class="slider swiper-container">
    <div class="swiper-wrapper">
        <section class="slide slide-1 swiper-slide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-10 offset-lg-1">
                        <span class="label">Bestseller</span>
                        <h2 class="slide-title">Sweater<br>Choker Neck</h2>
                        <p class="slide-description">Women’s pearl basic knit sweater<br> with a round neck.
                            Available in several colours. Free shipping to stores.</p>
                        <button class="button">
                            <span class="button-price">6000 &#8381;</span>
                            <span class="button-text">Купить</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="slide slide-2 swiper-slide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-10 offset-lg-1">
                        <span class="label">New</span>
                        <h2 class="slide-title">Text T-Shirt</h2>
                        <p class="slide-description">Women’s pearl basic knit sweater with a round neck.
                            Available in several colours. Free shipping to stores.</p>
                        <button class="button">
                            <span class="button-price">5500 &#8381;</span>
                            <span class="button-text">Купить</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="slide slide-1 swiper-slide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-10 offset-lg-1">
                        <span class="label">Bestseller</span>
                        <h2 class="slide-title">Sweater Choker Neck</h2>
                        <p class="slide-description">Women’s pearl basic knit sweater with a round neck.
                            Available in several colours. Free shipping to stores.</p>
                        <button class="button">
                            <span class="button-price">4000 &#8381;</span>
                            <span class="button-text">Купить</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="slider-nav ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-1">
                    <button class="slider-button slider-button-prev">
                        <img src="assets/img/arrow-prev.svg" alt="icon: arrow-prev">
                    </button>
                </div>
                <div class="col-1">
                    <button class="slider-button slider-button-next">
                        <img src="assets/img/arrow-next.svg" alt="icon: arrow-next">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5 pb-4">
    <div class="row mb-4">
        <div class="col-xl-6">
            <div class="card card-1 mb-4">
                <h3 class="card-title">Fashion Month Ready in Capital Shop</h3>
                <p class="card-text">Bags & Acsessories & Lingerie & Sportswear &
                    Beauty & Swimwear</p>
                <button class="button button-fix-width-detailed">
                    <span class="button-text">Подробнее</span>
                    <img src="assets/img/arrow.svg" alt="icon:arrow" class="button-icon">
                </button>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card card-2 mb-4">
                <h3 class="card-title text-light">Catch the Sun: Spring Break Styles From $5.99</h3>
                <p class="card-text text-light">Sweaters & Hoodies & Puffer Jackets & Coats and Jackets & Knit</p>
                <button class="button button-fix-width-detailed">
                    <span class="button-text">Подробнее</span>
                    <img src="assets/img/arrow.svg" alt="icon:arrow" class="button-icon">
                </button>
            </div>
        </div>
        <div class="col-xl-9 col-lg-6 mb-4">
            <div class="card card-3">
                <span class="label label-fix-width">Bestseller</span>
                <h3 class="card-title large">Poplin Top <br>
                    With Sleeve Bow</h3>
                <p class="card-text large">Poplin top with roll neckline, long sleeves</p>
                <button class="button button-fix-width-price">
                    <span class="button-price">3500 &#8381;</span>
                    <span class="button-text">Купить</span>
                </button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card card-4">
                <h3 class="card-title text-light">Printed Shirt <br> with a Bow</h3>
                <p class="card-text text-light">Pink/Sky Blue/Yellow</p>
                <button class="button button-card-4">
                    <span class="card-price">1500 &#8381;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row allign-items-center mb-4">
        <div class="col-9">
            <b class="section-title">Новинка</b>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <a href="#" class="more">Посмотреть еще</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <a href="#" class="goods-card">
                <span class="label">New</span>
                <img src="assets/img/woman_shoe_card_main.png" alt="image: hoodie" class="goods-image">
                <h3 class="goods-title">Сапоги</h3>
                <i class="fa fa-heart-o fa-lg heart-icon" aria-hidden="true"></i>
                <p class="goods-description">Yellow/Lilac</p>
                <span class="goods-price">2550 &#8381;</span>
                <i class="fa fa-shopping-cart fa-lg shopping-cart-icon" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="#" class="goods-card">
                <span class="label">New</span>
                <img src="assets/img/woman_shoe_card_main.png" alt="image: Faded Beach Trousers" class="goods-image">
                <h3 class="goods-title">Туфли</h3>
                <i class="fa fa-heart-o fa-lg heart-icon" aria-hidden="true"></i>
                <p class="goods-description">Navy/Ochre</p>
                <span class="goods-price">1500 &#8381;</span>
                <i class="fa fa-shopping-cart fa-lg shopping-cart-icon" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="#" class="goods-card">
                <span class="label">New</span>
                <img src="assets/img/woman_shoe_card_main.png" alt="image: Text T-Shirt" class="goods-image">
                <h3 class="goods-title">Кеды</h3>
                <i class="fa fa-heart-o fa-lg heart-icon" aria-hidden="true"></i>
                <p class="goods-description">White</p>
                <span class="goods-price">1000 &#8381;</span>
                <i class="fa fa-shopping-cart fa-lg shopping-cart-icon" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="#" class="goods-card">
                <span class="label">New</span>
                <img src="assets/img/woman_shoe_card_main.png" alt="image: Striped Long Sleeve Shirt" class="goods-image">
                <h3 class="goods-title">Кроссовки</h3>
                <i class="fa fa-heart-o fa-lg heart-icon" aria-hidden="true"></i>
                <p class="goods-description">Red/Blue</p>
                <span class="goods-price">1700 &#8381;</span>
                <i class="fa fa-shopping-cart fa-lg shopping-cart-icon" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<app-footer></app-footer>
