<nav class="sticky-top navbar navbar-expand-xl navbar-light bg-light ">
    <div class="container">
        <a href="/" class="logo-link">
            <img src="assets/img/logo.jpg" alt="logo: obuv.novinka" class="logo-image">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto mb-2 navigation align-items-center">
                <li class="navigation-item">
                    <a href="/woman_catalog.html" class="navigation-link">Женщины</a>
                    <ul class="sub-category-list">
                        <li><a href="#" class="sub-category-link">Балетки</a></li>
                        <li><a href="#" class="sub-category-link">Босоножки</a></li>
                        <li><a href="#" class="sub-category-link">Ботильоны</a></li>
                        <li><a href="#" class="sub-category-link">Ботинки</a></li>
                        <li><a href="#" class="sub-category-link">Ботфорты</a></li>
                        <li><a href="#" class="sub-category-link">Дутики</a></li>
                        <li><a href="#" class="sub-category-link">Кеды</a></li>
                        <li><a href="#" class="sub-category-link">Кроссовки</a></li>
                        <li><a href="#" class="sub-category-link">Лоферы</a></li>
                        <li><a href="#" class="sub-category-link">Мокасины</a></li>
                        <li><a href="#" class="sub-category-link">Полуботинки</a></li>
                        <li><a href="#" class="sub-category-link">Полусапоги</a></li>
                        <li><a href="#" class="sub-category-link">Резиновая обувь</a></li>
                        <li><a href="#" class="sub-category-link">Сабо</a></li>
                        <li><a href="#" class="sub-category-link">Сандалии</a></li>
                        <li><a href="#" class="sub-category-link">Сапоги</a></li>
                        <li><a href="#" class="sub-category-link">Слипоны</a></li>
                        <li><a href="#" class="sub-category-link">Сникерсы</a></li>
                        <li><a href="#" class="sub-category-link">Спортивная обувь</a></li>
                        <li><a href="#" class="sub-category-link">Туфли</a></li>
                        <li><a href="#" class="sub-category-link">Шлепанцы и тапочки</a></li>
                        <li><a href="#" class="sub-category-link">Эспадрильи</a></li>
                    </ul>
                </li>
                <li class="navigation-item">
                    <a href="/man_catalog.html  " class="navigation-link">Мужчины</a>
                    <ul class="sub-category-list">
                        <li><a href="#" class="sub-category-link">Ботинки</a></li>
                        <li><a href="#" class="sub-category-link">Кеды</a></li>
                        <li><a href="#" class="sub-category-link">Кроссовки</a></li>
                        <li><a href="#" class="sub-category-link">Мокасины</a></li>
                        <li><a href="#" class="sub-category-link">Полуботинки</a></li>
                        <li><a href="#" class="sub-category-link">Полусапоги</a></li>
                        <li><a href="#" class="sub-category-link">Сандалии</a></li>
                        <li><a href="#" class="sub-category-link">Сапоги</a></li>
                        <li><a href="#" class="sub-category-link">Слипоны</a></li>
                        <li><a href="#" class="sub-category-link">Спортивная обувь</a></li>
                        <li><a href="#" class="sub-category-link">Тапочки и Шлепанцы</a></li>
                        <li><a href="#" class="sub-category-link">Туфли</a></li>
                    </ul>
                </li>
                <li class="navigation-item">
                    <a href="/kid_catalog.html" class="navigation-link">Дети</a>
                    <ul class="sub-category-list">
                        <li><a href="#" class="sub-category-link">кроссовки</a></li>
                        <li><a href="#" class="sub-category-link">ботильоны</a></li>
                        <li><a href="#" class="sub-category-link">балетки</a></li>
                        <li><a href="#" class="sub-category-link">ботильоны</a></li>
                        <li><a href="#" class="sub-category-link">ботильоны</a></li>
                        <li><a href="#" class="sub-category-link">ботильоны</a></li>
                        <li><a href="#" class="sub-category-link">ботильоны</a></li>
                    </ul>
                </li>
                <li class="navigation-item">
                    <a href="#" class="navigation-link">Аксессуары</a>
                    <ul class="sub-category-list">
                        <li><a href="#" class="sub-category-link">кроссовки</a></li>
                        <li><a href="#" class="sub-category-link">ботильоны</a></li>
                        <li><a href="#" class="sub-category-link">балетки</a></li>
                        <li><a href="#" class="sub-category-link">ботильоны</a></li>
                        <li><a href="#" class="sub-category-link">ботильоны</a></li>
                        <li><a href="#" class="sub-category-link">ботильоны</a></li>
                        <li><a href="#" class="sub-category-link">ботильоны</a></li>
                        <li><a href="#" class="sub-category-link">ботильоны</a></li>
                    </ul>
                </li>




                <form action="" class="d-flex search">
                    <input type="search" placeholder="Я хочу найти..." class="form-control me-2">
                    <button class="btn btn-outline-danger">Поиск</button>
                </form>
            </ul>



            <button class="button hover-border-1 button-margin-5 nav-button" onclick="window.location.href = '#';">
                <i class="fa fa-shopping-cart fa-lg button-icon" aria-hidden="true"></i>
            </button>


            <button class="button hover-border-2 button-margin-5 nav-button" onclick="window.location.href = '#';">
                <i class="fa fa-heart-o fa-lg button-icon" aria-hidden="true"></i>
            </button>


            <button class="button hover-border-3 button-margin-5 nav-button" onclick="window.location.href = '/authentication.html';">
                <i class="fa fa-user fa-lg" aria-hidden="true"></i>
            </button>

        </div>
    </div>
</nav>

<div class="slider swiper-container">
    <div class="swiper-wrapper">
        <section class="slide slide-1 swiper-slide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-10 offset-lg-1">
                        <span class="label">Bestseller</span>
                        <h2 class="slide-title">Sweater<br>Choker Neck</h2>
                        <p class="slide-description">Women’s pearl basic knit sweater<br> with a round neck.
                            Available in several colours. Free shipping to stores.</p>
                        <button class="button">
                            <span class="button-price">6000 &#8381;</span>
                            <span class="button-text">Купить</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="slide slide-2 swiper-slide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-10 offset-lg-1">
                        <span class="label">New</span>
                        <h2 class="slide-title">Text T-Shirt</h2>
                        <p class="slide-description">Women’s pearl basic knit sweater with a round neck.
                            Available in several colours. Free shipping to stores.</p>
                        <button class="button">
                            <span class="button-price">5500 &#8381;</span>
                            <span class="button-text">Купить</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="slide slide-1 swiper-slide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-10 offset-lg-1">
                        <span class="label">Bestseller</span>
                        <h2 class="slide-title">Sweater Choker Neck</h2>
                        <p class="slide-description">Women’s pearl basic knit sweater with a round neck.
                            Available in several colours. Free shipping to stores.</p>
                        <button class="button">
                            <span class="button-price">4000 &#8381;</span>
                            <span class="button-text">Купить</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="slider-nav ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-1">
                    <button class="slider-button slider-button-prev">
                        <img src="assets/img/arrow-prev.svg" alt="icon: arrow-prev">
                    </button>
                </div>
                <div class="col-1">
                    <button class="slider-button slider-button-next">
                        <img src="assets/img/arrow-next.svg" alt="icon: arrow-next">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5 pb-4">
    <div class="row mb-4">
        <div class="col-xl-6">
            <div class="card card-1 mb-4">
                <h3 class="card-title">Fashion Month Ready in Capital Shop</h3>
                <p class="card-text">Bags & Acsessories & Lingerie & Sportswear &
                    Beauty & Swimwear</p>
                <button class="button button-fix-width-detailed">
                    <span class="button-text">Подробнее</span>
                    <img src="assets/img/arrow.svg" alt="icon:arrow" class="button-icon">
                </button>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card card-2 mb-4">
                <h3 class="card-title text-light">Catch the Sun: Spring Break Styles From $5.99</h3>
                <p class="card-text text-light">Sweaters & Hoodies & Puffer Jackets & Coats and Jackets & Knit</p>
                <button class="button button-fix-width-detailed">
                    <span class="button-text">Подробнее</span>
                    <img src="assets/img/arrow.svg" alt="icon:arrow" class="button-icon">
                </button>
            </div>
        </div>
        <div class="col-xl-9 col-lg-6 mb-4">
            <div class="card card-3">
                <span class="label label-fix-width">Bestseller</span>
                <h3 class="card-title large">Poplin Top <br>
                    With Sleeve Bow</h3>
                <p class="card-text large">Poplin top with roll neckline, long sleeves</p>
                <button class="button button-fix-width-price">
                    <span class="button-price">3500 &#8381;</span>
                    <span class="button-text">Купить</span>
                </button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card card-4">
                <h3 class="card-title text-light">Printed Shirt <br> with a Bow</h3>
                <p class="card-text text-light">Pink/Sky Blue/Yellow</p>
                <button class="button button-card-4">
                    <span class="card-price">1500 &#8381;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row allign-items-center mb-4">
        <div class="col-9">
            <b class="section-title">Новинка</b>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <a href="#" class="more">Посмотреть еще</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <a href="#" class="goods-card">
                <span class="label">New</span>
                <img src="assets/img/woman_shoe_card_main.png" alt="image: hoodie" class="goods-image">
                <h3 class="goods-title">Сапоги</h3>
                <i class="fa fa-heart-o fa-lg heart-icon" aria-hidden="true"></i>
                <p class="goods-description">Yellow/Lilac</p>
                <span class="goods-price">2550 &#8381;</span>
                <i class="fa fa-shopping-cart fa-lg shopping-cart-icon" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="#" class="goods-card">
                <span class="label">New</span>
                <img src="assets/img/woman_shoe_card_main.png" alt="image: Faded Beach Trousers" class="goods-image">
                <h3 class="goods-title">Туфли</h3>
                <i class="fa fa-heart-o fa-lg heart-icon" aria-hidden="true"></i>
                <p class="goods-description">Navy/Ochre</p>
                <span class="goods-price">1500 &#8381;</span>
                <i class="fa fa-shopping-cart fa-lg shopping-cart-icon" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="#" class="goods-card">
                <span class="label">New</span>
                <img src="assets/img/woman_shoe_card_main.png" alt="image: Text T-Shirt" class="goods-image">
                <h3 class="goods-title">Кеды</h3>
                <i class="fa fa-heart-o fa-lg heart-icon" aria-hidden="true"></i>
                <p class="goods-description">White</p>
                <span class="goods-price">1000 &#8381;</span>
                <i class="fa fa-shopping-cart fa-lg shopping-cart-icon" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="#" class="goods-card">
                <span class="label">New</span>
                <img src="assets/img/woman_shoe_card_main.png" alt="image: Striped Long Sleeve Shirt" class="goods-image">
                <h3 class="goods-title">Кроссовки</h3>
                <i class="fa fa-heart-o fa-lg heart-icon" aria-hidden="true"></i>
                <p class="goods-description">Red/Blue</p>
                <span class="goods-price">1700 &#8381;</span>
                <i class="fa fa-shopping-cart fa-lg shopping-cart-icon" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

<footer class="footer ">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 mb-4 mb-xl-0">
                <nav>
                    <ul class="footer-menu d-sm-flex">
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Shop</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">About Us</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Careers</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">FAQ</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Blog</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 d-flex allign-items-center">
                <span class="footer-text">Follow Us</span>
                <span class="footer-social d-inline-flex allign-items-center">
                        <a href="#" class="social-link">
                            <img src="assets/img/Facebook.svg" alt="Facebook">
                        </a>
                        <a href="#" class="social-link">
                            <img src="assets/img/Twitter.svg" alt="Twitter">
                        </a>
                        <a href="#" class="social-link">
                            <img src="assets/img/Instagram.svg" alt="Instagram">
                        </a>
                    </span>
            </div>
            <div class="col-xl-2 col-lg-3 d-flex justify-content-lg-end mt-4 mt-lg-0">
                <span class="footer-text">© 2021 Universal UI Kit</span>
            </div>
        </div>
        <hr class="footer-line mt-4 mb-4" color="white">
        <div class="row justify-content-between">
            <div class="col-lg-4 col-sm-9">
                <img class="payment-logo" src="assets/img/visa.png" alt="visa logo">
                <img class="payment-logo" src="assets/img/mastercard.png" alt="mastercard logo">
                <img class="payment-logo" src="assets/img/paypal.png" alt="paypal logo">
                <img class="payment-logo" src="assets/img/bitcoin.png" alt="bitcoin logo">
            </div>
            <div class="col-lg-2 col-sm-3 d-flex justify-content-end">
                <a href="#" class="top-link d-flex allign-items-center">
                    <span class="top-link-text">На вверх</span>
                    <img src="assets/img/top.svg" alt="icon: arrow top">
                </a>
            </div>
        </div>
    </div>
</footer>
